<div id="divLogin">
  <% form_tag(new_session_path, :method => "post") do %>
    <% if session[:login] %>
      <p class="bemvindo">Bem Vindo, <%= session[:login]%>
    <% end%>
    <p>
      <strong><%= flash[:user_looser] %></strong>
    </p>
    <p>Login: <input type="text" class="textbox" name="login" value="Digite seu e-mail ou login"/></p>
    <p>Senha: <input id="pwd" type="textbox" class="textbox" name="senha" value="Digite sua senha"/></p>
    <p><%= link_to 'Esqueceu a Senha ?', forgot_pass_path %></p>
    <p><%= link_to 'Cadastre-se !', new_user_path %></p>
    <input type="submit" class="loginbtn"value="Entrar"/>
    <input type="submit" class="logout" name="logout" value="Logout">
  <% end %>
</div>

