* {
    margin:0;
    padding:0;
    border:0;
    text-decoration:none;
}
a:link {color: #FFFAFA;}
a:visited {color: #EEE9E9;}
body {
    background: #000 none repeat scroll 0 0;
    font-family: arial;
    font-size:11px;
    color: white;
}
#body {
    background:#000 none repeat scroll 0 0;
    display:block;
    width:880px;
    margin: 0px auto;
}
#topo {
    /*display:block;
    height:100px;*/
}
#logo {
    /*background: #000 none repeat scroll 0 0;
    display:block;
    height:100px;
    width:180px;*/
}
#banner {
/*    background: #000 none repeat scroll 0 0;
    display:block;
    height:100px;
    margin: -100px 180px;
    width: 700px;*/
}
#content {
    background: #ccc none repeat scroll 0 0;
    display: block;
    margin: 2px auto;
}
#menu {
   /* background: #000 none repeat scroll 0 0;
    height: 35px;*/
}
#contentCore {
    background: #000 none repeat scroll 0 0;
    padding: 4px;
    position: relative;
    top: 2px;
}/*
#footer {
    background: #000 none repeat scroll 0 0;
    height:35px;
    position: relative;
    top: 4px;
}
.textbox {
    color: #959595;
}
#login {
    background: #ccc none repeat scroll 0 0;
    display: none;
    height: 150px;
    margin: -28px 642px;
    padding: 5px;
    text-decoration: none;
    width: 224px;
}
.close_login {
    margin: -19px 225px;
    position: absolute;
}
#loginLink {
    margin: 8px 820px;
    position: absolute;
    text-decoration: none;
}
.logout {
    display: block;
}*/

