.bemvindo {
    font: 13px arial,sans-serif;
    float: right;
    margin-top: -33px;
    margin-right: 3px;
}
#divLogin {
    background: #ccc none repeat scroll 0 0;
    display:none;
    margin-left:657px;
}

