<h1>Control Panel</h1>
<ul class="menuCP">
  <li><a href="/users">Usuarios</a></li>
  <li><a href="/roles">Roles</a></li>
  <li><a href="/permissions">Permissions</a></li>
  <li><a href="/role_permissions">Role/Permissions</a></li>
  <li><a href="/user_roles">User/Roles</a></li>
</ul>

