<p>
  <b>Id role:</b>
  <%=h @role_permission.role_id %>
</p>

<p>
  <b>Id permission:</b>
  <%=h @role_permission.permission_id %>
</p>


<%= link_to 'Edit', edit_role_permission_path(@role_permission) %> |
<%= link_to 'Back', role_permissions_path %>

