<h1>Forgot Password ?</h1>
<h3>Entre com o e-mail cadastrado, você recebera em até vinte e quatro horas
    um e-mail para que sua senha seja resetada.</h3>

<% form_tag(forgot_pass_path, :method => "post") do %>
  <strong><%= flash[:forgot_pass_message] %></strong>
  <p>E-Mail: <input type="text" class="" name="email_forgot_password" /></p>
  <input type="submit" class="" value="Enviar"/>
<% end %>

<p><%= link_to 'Back', sessions_path %></p>

